<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Sokoban</title>
</head>
<body>
<h1 th:text="${'Welcome'}">Welcome</h1>
<p>
    Sokoban (倉庫番, sōko-ban, "warehouse keeper") is a puzzle video game in which the player pushes crates or boxes around in a warehouse, trying to get them to storage locations.<br>
    Sokoban was created in 1981 by Hiroyuki Imabayashi. It was published in December 1982 by Thinking Rabbit, a software house based in Takarazuka, Japan.
</p>
<p>
    <a href="games">Want to play?</a>
</p>

</body>
</html>
