<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Sokoban Users</title>
</head>
<body>
<h1 th:text="${'All games'}">All available games you can play</h1>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="game : ${games}">
        <td th:text="${game.id}">1</td>
        <td th:text="${game.name}">First game</td>
    </tr>
    </tbody>
</table>

</body>
</html>
